ML ZOOMCAMP HOMEWORK-1

Esra BardakcÄ±

In [2]:
import pandas as pd
import numpy as np

# Q1. Pandas version

What version of Pandas did you install?

In [3]:
print(pd.__version__)

1.3.4

# Getting the data

In [4]:
data=pd.read_csv('car_fuel_efficiency.csv')

# Q2. Records count

How many records are in the dataset?

In [7]:
print(len(data))

9704

# Q3. Fuel types

How many fuel types are presented in the dataset?

In [11]:
data['fuel_type'].nunique()

2

# Q4. Missing values

How many columns in the dataset have missing values?

In [12]:
print((data.isnull().sum()>0).sum())

4

# Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

In [13]:
print(data[data['origin'] == 'Asia']['fuel_efficiency_mpg'].max())

23.759122836520497

# Q6. Median value of horsepower

1. Find the median value of the horsepower column in the dataset.

In [14]:
data['horsepower'].median()

149.0

2. Next, calculate the most frequent value of the same horsepower column.

In [15]:
mode=data['horsepower'].value_counts().idxmax();mode

152.0

3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.

In [16]:
data['horsepower']=data['horsepower'].fillna(mode)

4. Now, calculate the median value of horsepower once again.

In [17]:
data['horsepower'].median()

152.0

Has it changed?
-Yes, it increased.

# Q7. Sum of weights

1. Select all the cars from Asia

In [20]:
data_selected=data[data['origin']=='Asia'];data_selected

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

2. Select only columns vehicle_weight and model_year

In [21]:
data_selected[['vehicle_weight','model_year']]

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

3. Select the first 7 values

In [23]:
data_selected_update=data_selected[['vehicle_weight','model_year']][:7];data_selected_update

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

4. Get the underlying NumPy array. Let's call it X.

In [24]:
X=data_selected_update.to_numpy()

5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [25]:
XTX=X.T @ X

6. Invert XTX.

In [26]:
XTX_inverted = np.linalg.inv(XTX)

7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

In [27]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [28]:
w=(XTX_inverted @ X.T) @ y

9. What's the sum of all the elements of the result?

In [29]:
print(w.sum())

0.5187709081074016